*{
    padding: 0px;
    margin:  0px;
}
body{
    background-color: black;
    font-family: 'Montserrat Alternates', sans-serif;

    color: white;
}
.div_1{
    
    max-width: 100%;
    min-height:  700px;
    
    background-image: url('background_4.jpg') ;
    background-size: cover ;
    background-position: center;
    background-repeat: none;
   padding:  10px;
   color: white;
}